body{
    font-family: 'Oswald', sans-serif; 
    background-color: #F6F6F6;
    color:#2B2B2B;
}
#mainContent{
    width: 400px;
    margin-left:30px;
    margin-bottom:150px;
}

#mainContent select{
    float: right;
    display: block;
    border:1px solid black;
}

#mainContent input[type="button"]{
    float: left;
    background-color: #DE1B1B;
    color:#F6F6F6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}

#x509verification {
	padding: 5px;
	border:1px solid black;
	display: none;
}

#tlsbody {
	padding: 5px;
	border:1px solid black;
	display: none;
}

#clientcert,
#clientpattern {
	padding: 5px;
	border:1px solid black;
	display: none;
}

#issuerbody{
	display: none;
	border:1px solid black;
	padding: 5px;
}

.textarea{
    border:1px solid black;
}

.textbox{
	float: right;
    display: block;
	border:1px solid black;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
	font-family: 'Tahoma, Geneva, sans-serif';
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#error {
	background-color: red;
	color: #fff;
	display: none;
}

.required {
	border:2px solid red !important;
}